# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependencies
node_modules/
/node_modules

# Production / Vite Build Output
dist
dist-ssr
*.local

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/seedAdmin.js
# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary / Cache
.cache
.vite